{% extends 'layout.html.twig' %}

{% block content %}
	<table>
		<tr>
			<th>Name</th>
			<th>Account number</th>
			<th>Amount</th>
		</tr>
		{% for profile in collection %}
			<tr>
				<td><a href="/?profile&amp;action=view&amp;id={{ profile.id }}">{{ profile.name }}</a></td>
				<td>{{ profile.account.number }}</td>
				<td>{{ profile.account.amount|number_format(2, ',', ' ') }}</td>
			</tr>
		{% endfor %}
	</table>
	<p><a href="/?profile&amp;action=create">Create</a></p>
{% endblock %}