<form method="post" action="/?profile&action=create">
	<fieldset>
		<legend>Create a profile with an account</legend>
		<div>
			Name<br />
			<input type="text" name="name" />
		</div>
		<div>
			Account number<br />
			<input type="text"  name="number" />
		</div>
		<div>
			Amount<br />
			<input type="text"  name="amount" />
		</div>
		<div>
			<button name="submit">Create</button>
		</div>
	</fieldset>
</form>