<form method="post" action="/?profile&action=create">
	<fieldset>
		<legend>Create a profile with an account</legend>
		<div>
			Name<br />
			<input type="text" name="name" class="required" />
		</div>
		<div>
			Account number<br />
			<input type="text" name="number" class="required" />
		</div>
		<div>
			Amount<br />
			<input type="text" name="amount" class="required" />
		</div>
		<div>
			<button name="submit">Create</button>
		</div>
	</fieldset>
</form>
